
.DS_Store

api/__init__.py

api/__pycache__/

api/routes/__pycache__/

api/validators/__init__.py

api/validators/__pycache__/

api/routes/__init__.py

config/__pycache__/

core/__init__.py

core/__pycache__/

data/logs/error.log

static/frontend/assets/audio/place_wav_file_here.txt
